<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "../config/mybatis-3-mapper.dtd">

<mapper namespace="jp.co.ssd.bi.mapper.UploadMapper">

	<delete id="deleteInfo" parameterType="String">
		delete from ${delSqlStr}
	
	</delete>
	
	<insert id="insterInfo" parameterType="String">
		insert into ${insSqlStr}
	</insert>	
	
	<select id="selectInfo" resultType="int">
		select count(*) from 案件振り返り_指摘
	</select>
	
</mapper>